$btn-primary: #0069ff;
$btn-primary-lg: #4490fc;
$btn-primary-dk: #0459d2;

$btn-secondary: #b8b8b8;
$btn-secondary-lg: #fafafa;
$btn-secondary-dk: #b8b8b8;

$btn-greyscale: #fafafa;
$btn-greyscale-dk: #eeeeee;

$btn-success: #01af1b;
$btn-success-lg: #00cc1e;
$btn-success-dk: #009516;

$font-white: #f7f7f7;
$font-black: #222222;
$font-gray: #666666;

$alert: #eb1717;
